---
interface Props {
  maxWidth?: number;
  class?: string;
}
const { maxWidth = 1464, class: className, ...rest } = Astro.props;

const maxWidthDimension = `${maxWidth}px`;
---

<div class:list={['root', className]} {...rest}>
  <slot />
</div>

<style lang="scss" define:vars={{ maxWidthDimension }}>
  @import '@styles/common-style.scss';

  .root {
    max-width: var(--maxWidthDimension);
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;

    @include screen-md-minus {
      padding: 0 16px;
    }
  }
</style>
