---
interface Props {
  link: string;
  class?: string;
}
const { link, class: className, ...rest } = Astro.props;
---

<a href={link} target="_blank" rel="noopener noreferrer" class:list={className} {...rest}>
  <slot />
</a>
