$color-neutral-100: #ffffff;
$color-neutral-200: #fafafa;

$color-grey-100: #f8fbfd;
$color-grey-200: #e1e3e8;
$color-grey-300: #959595;
$color-grey-400: #999999;
$color-grey-500: #52525b;
$color-grey-600: #3a3a3a;
$color-grey-700: #18181b;

$color-black-100: #18181b;
$color-black-200: #12141d;

$color-red-100: #ff0000;

$color-red-semitransparent: #ff00002b;
