$color-neutral-100: #ffffff;
$color-neutral-200: #fafafa;

$color-gray-100: #e1e3e8;
$color-gray-200: #959595;
$color-gray-300: #999999;
$color-gray-400: #52525b;
$color-gray-500: #3a3a3a;
$color-gray-600: #18181b;

$color-black-100: #18181b;
$color-black-200: #12141d;

$color-red-100: #ff0000;

$color-red-semitransparent: #ff00000a;
