@import 'common-colors.scss';
@import 'common-responsive.scss';
@import 'common-font.scss';


@mixin flex-container(
  $justify-content: 'flex-start',
  $align-items: 'stretch',
  $flex-flow: 'row nowrap',
  $gap: normal,
  $inline: false
) {
  @if $inline {
    display: inline-flex;
  } @else {
    display: flex;
  }
  justify-content: #{$justify-content};
  align-items: #{$align-items};
  flex-flow: #{$flex-flow};
  gap: #{$gap};
  @content;
}

@mixin flex-center {
  @include flex-container(center, center);
}
