*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body > iframe {
  pointer-events: none;
}

body {
  min-height: 100svh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 16px;
}

button {
  border: none;
  background-color: inherit;

  &:hover {
    cursor: pointer;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
