@import "common-style.scss";
@import "@fontsource-variable/inter";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

//workaround for hot-reload react-scripts issue
body > iframe {
  pointer-events: none;
}

body {
  @include typography;
  min-height: 100svh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 16px;

  svg {
    color: $color-midnight-grey;
  }
}

button {
  border: none;
  background-color: inherit;

  &:hover {
    cursor: pointer;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
