---
import '../../styles/global.css'
interface Props {
	title: string;
	variant?: 'largeUnderline' | 'medium' | 'mediumUnderline' | 'small'
	icon?: 'email' | 'deal' | 'calendar' |'user-group'
}


const { title,  variant= 'medium', icon, } = Astro.props;
---

<div class="root">
		<span class:list={['title', {largeUnderline: variant==='largeUnderline'}, { mediumUndeline: variant==='mediumUnderline'}, {small: variant==='small'}]}>
			{title}
		</span>
</div>
<style define:vars={{ }} lang="scss">
.root{
	padding: 1rem;
	color: var(--color-black-200);
	text-align: center;
	border: 1px solid blue;
}
.title {
	position: relative;
	font-size: 30px;
	font-weight: 600;
	border: 1px solid red;
	padding: 6px 0;
  
}

.largeUnderline {
	font-size: 52px;
	font-weight: 400;
	
  &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
		transform: translateX(-50%);
        width: 64px;
        height: 1px;
        background-color: var(--color-red-100);
      }
}
.mediumUndeline {
  color: var(--color-red-100);
  font-weight: 500;
  padding:10px 0;
  &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 1px;
        background-color: var(--color-red-100);
      }
}
.small{
	font-size: 24px;
}

</style>
