@import "src/styles/common-style.scss";

.title {
  padding: 1rem;
  background-color: $color-gray-100;
  color: $color-red-100;
  text-align: center;
}

.large {
  font-size: 62px;
}

.medium {
  font-size: 52px;
}

.small {
  font-size: 30px;
}
