---
import { Icon } from 'astro-icon/components';
import type { TitleVariantsType, TitleIconsType } from '../../domain/types';

interface Props {
  title: string;
  variant?: TitleVariantsType;
  icon?: TitleIconsType;
}

const { title, variant = 'medium', icon } = Astro.props;
---

<div class="root">
  {
    icon && (
      <div class="iconContainer">
        <div class="icon">
          <Icon name={icon} width={56} height={56} />
        </div>
      </div>
    )
  }
  <h2
    class:list={[
      'title',
      { extraLargeUnderline: variant === 'extraLargeUnderline' },
      { largeUnderline: variant === 'largeUnderline' },
      { mediumUndeline: variant === 'mediumUnderline' },
      { small: variant === 'small' },
    ]}
  >
    {title}
  </h2>
</div>

<style lang="scss">
  @import '../../styles/common-style.scss';
  .root {
    padding: 1rem;
    color: $color-black-200;
    text-align: center;
    // border: 1px solid $color-red-100;
  }

  .iconContainer {
    position: relative;
    width: 49px;
    height: 49px;
    background-color: $color-red-semitransparent;
    margin: 0 auto;
    border-radius: 50%;
    transform: translateX(-15%);
  }

  .icon {
    transform: translate(30%, -30%);
  }

  .title {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    padding: 6px 0;
  }

  .small {
    font-size: 24px;
  }

  .mediumUndeline {
    font-weight: 500;
    padding: 10px 0;
    color: $color-black-100;

    @include before-underline($color-red-100, 0, 0, 50px);
  }

  .largeUnderline {
    font-size: 52px;
    font-weight: 700;
    line-height: 116%;

    @include before-underline($color-red-100, 0, 50%, 64px);

    &:before {
      transform: translateX(-50%);
    }

    @include screen-xs {
      font-size: 48px;
      line-height: 110%;
    }
  }

  .extraLargeUnderline {
    font-size: 82px;
    font-weight: 700;
    line-height: 102%;
    text-align: left;

    @include before-underline($color-red-100, 0, 0, 93px, 2px);

    @include screen-xs {
      font-size: 68px;
      line-height: 110%;
    }
  }
</style>
