---
import CSS from './Title.module.scss';
interface Props {
	title: string;
	isLarge?: boolean
	underline?: 'left' | 'center'
	icon?: 'email' | 'deal' | 'calendar' |'user-group'
}

const { title,  underline, icon, isLarge } = Astro.props;
---

<div>
		<h1 class:list={['title', {large: isLarge}]}>
			{title}
		</h1>
</div>
<style >
.title {
  padding: 1rem;
  color: #12141D;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.large {
  font-size: 52px;
}

</style>
