---
import '../../styles/global.css';
import { Icon } from 'astro-icon/components';

export const TITLE_ICONS = {
  email: 'email',
  handshake: 'handshake',
  calendar: 'calendar',
  userGroup: 'user-group',
};

export const TITLE_VARIANTS = {
  largeUnderline: 'largeUnderline',
  medium: 'medium',
  mediumUnderline: 'mediumUnderline',
  small: 'small',
};
interface Props {
  title: string;
  variant?: string;
  icon?: string;
}
//TODO types TITLE_VARIANTS

const { title, variant = 'medium', icon } = Astro.props;
---

<div class="root">
  {
    icon && (
      <div class="iconContainer">
        <div class="icon">
          <Icon name={icon} width={56} height={56} />
        </div>
      </div>
    )
  }
</div>
<span
  class:list={[
    'title',
    { largeUnderline: variant === 'largeUnderline' },
    { mediumUndeline: variant === 'mediumUnderline' },
    { small: variant === 'small' },
  ]}
>
  {title}
</span>

<style define:vars={{}} lang="scss">
  .root {
    padding: 1rem;
    color: var(--color-black-200);
    text-align: center;
  }

  .iconContainer {
    position: relative;
    width: 49px;
    height: 49px;
    background-color: var(--color-red-semitransparent);
    margin: 0 auto;
    border-radius: 50%;
  }

  .icon {
    transform: translate(30%, -30%);
  }

  .title {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    padding: 6px 0;
  }

  .largeUnderline {
    //TODO deferent font after Cris change in designes
    font-size: 52px;
    font-weight: 400;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 64px;
      height: 1px;
      background-color: var(--color-red-100);
    }
  }
  .mediumUndeline {
    font-weight: 500;
    padding: 10px 0;
    color: var(--color-black-100);

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 1px;
      background-color: var(--color-red-100);
    }
  }
  .small {
    font-size: 24px;
  }
</style>
