---
import Hero from '@components/Hero/Hero.astro';
import MeetupGroups from '@components/MeetupGroups/MeetupGroups.astro';
import Introduction from '@components/Introduction/Introduction.astro';
import Layout from '@layouts/Layout.astro';
import LearningMaterials from '@components/LearningMaterials/LearningMaterials.astro';
import Conferences from '@components/Conferences/Conferences.astro';
import Companies from '@components/Companies/Companies.astro';
import ReactCompanies from '@components/Companies/ReactCompanies';
---

<Layout title="Polish Scala Comunity">
  <main>
    <Hero />
    <ReactCompanies client:only="react" />
    <!-- <ReactCompanies client:load /> -->

    <Introduction />
    <LearningMaterials />
    <Companies />
    <MeetupGroups />
    <Conferences />
  </main>
</Layout>

<style lang="scss">
  @import '@styles/common-style.scss';
  main {
    @include flex-container(flex-start, center, column, 68px);
    overflow-x: hidden;
    line-height: 1.6;
  }
</style>
