---
import Hero from '@components/Hero/Hero.astro';
import MeetupGroups from '@components/MeetupGroups/MeetupGroups.astro';
import Introduction from '@components/Introduction/Introduction.astro';
import Layout from '@layouts/Layout.astro';
import LearningMaterials from '@components/LearningMaterials/LearningMaterials.astro';
import Conferences from '@components/Conferences/Conferences.astro';
import ReactCompanies from '@components/ReactCompanies';
import Container from '@components/Container/Container.astro';
import Title from '@components/Title/Title.astro';
import { TITLE_ICONS, TITLE_VARIANTS } from '@domain/constants';
import content from '@content/content';
---

<Layout title="Polish Scala Community">
  <main>
    <Hero />
    <Introduction />
    <LearningMaterials />
    <Container>
      <ReactCompanies client:only="react">
        <div slot="title">
          <Title title="Companies using Scala" icon={TITLE_ICONS.handshake} />
        </div>
        <div slot="noCompanyMatchInfo">
          <Title title={content.noCompanyMatchInfo} variant={TITLE_VARIANTS.small} />
        </div>
      </ReactCompanies>
    </Container>
    <MeetupGroups />
    <Conferences />
  </main>
</Layout>

<style lang="scss">
  @import '@styles/common-style.scss';
  main {
    @include flex-container(flex-start, center, column, 68px);
    overflow-x: hidden;
    line-height: 1.6;
  }
</style>
