@import '@styles/common-style.scss';

.company {
  height: 100%;
  border: 1px solid $color-grey-200;
  padding: 40px;
  border-radius: 10px;

  @include screen-sm {
    padding-bottom: 60px;
  }
}

.information {
  height: 100%;
  display: grid;
  align-content: end;
  gap: 20px;
}

.image {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.companyName {
  font-size: 20px;
  font-weight: 500;

  @include screen-md-minus {
    font-size: 16px;
  }
}

.description {
  color: $color-grey-600;
  padding-right: 8px;
  line-height: 34px;
  height: 220px;
  @include vertical-scrollbar();
}

.tags {
  color: $color-red-100;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  @include flex-container(flex-start, center, row, 16px);
}
