---
import content from '@content/content';
import Title from '@components/Title/Title.astro';
import LinkButton from '@components/LinkButton/LinkButton.astro';
import { TITLE_VARIANTS, TITLE_ICONS } from '@domain/constants';
import Container from '@components/Container/Container.astro';
---

<Container class="container">
  <Title title="Learning materials" icon={TITLE_ICONS.email} />
  <div class="content">
    {content.learningMaterials.map((element) => <LinkButton href={element.link} title={element.title} />)}
  </div>

  <style lang="scss">
    @import '@styles/common-style.scss';

    .container {
      // border: 1px solid red;
    }

    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;

      @include screen-sm-minus {
        max-width: 100svw;
        grid-template-columns: 1fr;
      }
    }
  </style>
</Container>
