---
import { ThemeProvider, withTheme } from '@emotion/react'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Scala comunity landingpage" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-neutral-100: #ffffff;
		--color-neutral-200: #fafafa;
		--color-gray-100: #e1e3e8;
		--color-gray-200: #959595;
		--color-gray-300: #999999;
		--color-gray-400: #52525b;
		--color-gray-500: #3a3a3a;
		--color-gray-600: #18181b;
		--color-black-100: #18181b;
		--color-black-200: #12141d;

		--color-red-100: #ff0000;
		--color-red-semitransparent: #FF00002B;
;

	}
	html {
		font-family: Inter, sans-serif;

	}
</style>
